<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>spartor_mac</string>
	<key>CFBundleGetInfoString</key>
	<string>UNKNOWN, Copyright 2010 superjer.com</string>
	<key>CFBundleIconFile</key>
	<string>ct.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.superjercom.spartor_mac</string>
	<key>CFBundleName</key>
	<string>spartor_mac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>UNKNOWN</string>
	<key>CFBundleVersion</key>
	<string>UNKNOWN</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2010 superjer.com</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
